@import url("https://js.arcgis.com/4.25/esri/themes/light/main.css");

#viewDiv {
  flex: 7;
  padding: 1em;
  margin: 0 auto;
  height: 85vh;
  width: 100vh;
  min-height: 85vh;
}

mat-slider {
  width: 200px;
}

.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
}
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.AccordionWidth{
  max-width: 25em;
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.example-stretched-tabs {
  max-width: 800px;
}

.menu {
  position: relative;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  flex: 2;

  .button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em auto;
    .btn{
      margin: 15px;
    }
  }

  form,
  .scale,
  .zoom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    margin: 1em auto;

  }

  .hr {
    padding: 1em 2em;
  }
}

.esri-map-page {
  display: flex;
  width: 100%;
}